@model ProjectManager.WebUI.Models.ViewModels.ProjectViewModel

@Html.HiddenFor(model => model.ProjectId)
@Html.HiddenFor(model => model.CreateBy)
@Html.DisplayFor(model => model.CreateByName)
@Html.DisplayFor(model => model.CreateAt)
<br />
<br />

<h3>@Html.LabelFor(model => model.Properties)</h3>

@Html.DisplayFor(model => model.Properties)
